extends ./_foundation/shell

block title
  title Dashboard Home

block PageContent
  div.wrapper
    h1 Dashboard Home
    
    div.panel--thin
      p= authenticated

    div.gl-two-thirds.float--center
      div.alert-panel--error.panel--thin
        | Don't forget to remove these page objectives
      div.panel--thin
        h3 Page Features / Objectives
        ol.mtm.gl-two-thirds
          li Lists the closest 3 Upcoming Public Events & Upcoming Private Events that the user was invited to using the same info from the events list page.
          li Lists Recently Added Games
          li Lists a few games players are wanting to play (this will also be on a players want-to-play list in their profile view)
          li Lists Hot Games (ones that are getting a lot of plays)
          li Highlight's a Player who met certain stat requirements (most wins in last game night)
