mixin event_card(event)
  li.gcm-quarter.gcl-quarter.align--left
    a.panel.new-line.unlink.pan(href="/dashboard/events/#{event._id}")
      div.pal
        h3.tertia-text.mtn= Date(event.date)
        address.mtm
          | #{event.venue.address1} </br>
          | #{event.venue.city + ' Tx, ' + event.venue.zip}
      div.alert-panel.pan.man
        div.gl-10of12.alert-panel--success.align--right.pas.man
          - var spots = event.maxPlayerCount - event.playerCount;
          - var text = (spots === 1) ? 'spot': 'spots';
          | #{spots} #{text} remaining
