doctype html
html
head
  meta(charset="UTF-8")
  block title
    title Games Default Title
  block styles
    link(rel="stylesheet", href="/build/css/motif.css")
body

include ./../navigation/main_nav
include ./../_partials/message_bar

block PageContent

footer
  block PageFooter
    script(src="/build/js/helpers.motif.js")
    script(src="/build/js/motif.js")
