header.panel.thin.mtn
  div.wrapper
    ul.link-list--x.mtn
      li: a.unlink(href="/dashboard") Home
      li: a.unlink(href="/dashboard/games") Games
      li: a.unlink(href="/dashboard/events") Events
      li: a.unlink(href="/dashboard/players") Players
