
// [class*="card--"] {
//
// }

.game-card {

  /* Extends */
  &:extend( .new-line );
  &:extend( .panel );

  /* Display & Box Model */
  padding: 0;

  /* Other */
  border: 1px solid #d4d4d4;
}

.game-card .card__figure {

  /* Display & Box Model */
  max-height: 125px;
  margin-top: 0;

  /* Positioning */
  overflow: hidden;
}

.game-card .card__content {

  /* Display & Box Model */
  padding: 15px;

  /* Other */
  border-top: 1px solid #d4d4d4;
}

.game-card .card__title {

  /* Mixins */
  .size-for-font( @tertia-text-size );

  /* Display & Box Model */
  margin-top: 0;
}
