if message
  aside.wrapper
    
    if success
      div.panel--thin.alert-panel--success
        p= message

    else 
      div.panel--thin.alert-panel--error
        p= document.name + " " + message
