extends ./../_foundation/shell

block title
  title Players Home

block PageContent
  div#app

block PageFooter
  script(src="/build/js/players.bundle.js")

  //- div.wrapper
  //-   ul.gm-row.gl-row
  //-     each player in players
  //-       - var games = player.stats.games
  //-
  //-       li.gcm-1of5.gcl-1of5
  //-         img.new-line(src="http://placehold.it/200", alt="#{player.fullName}")
  //-         a.new-line.panel--thin.unlink.mtn(href="/dashboard/players/#{player._id}")
  //-           h3.tertia-text= player.profile.firstName + ' ' + player.profile.lastName
  //-           ul.list--unstyled
  //-             li Played: #{games.played}
  //-             li Won: #{games.won}
  //-             li Lost: #{games.lost}
  //-
  //-   h1 Players List
  //-   div.gl-two-thirds.float--center
  //-     div.alert-panel--error.panel--thin
  //-       | Don't forget to remove these page objectives
  //-     div.panel--thin
  //-       h3 Page Features / Objectives
  //-       ol.mtm.gl-two-thirds
  //-         li Basically a directory of players who are part of the system
  //-         li Searchable by: Name, Game
  //-         li Sortable by: Number of Games in Collection, First / Last Name Alphabetical, is an event organizer (only people who own games can organize events)
