extends ../public/_foundation/shell

block title
  title Login

block PageContent
  div.wrapper.align--center
    div.gm-half.gl-third.float--center
      h1.canon-text 404
      p.mtm Page Not Found
      p.mts You might be visiting a page that no longer exists
