extends ../_foundation/shell

block title
  title A Single Game

block PageContent
  div.wrapper
    div.gl-half
      div.media-object.mtl.ptl
        figure.media-object__figure.gm-third.gl-third
          img(src="#{game.media.images[0]}", alt="#{game.name}")
        div.media-object__desc
          h1.primer-text= game.name
          p.tertia-text.mtm= game.desc.text
  section.panel
    div.wrapper
      ul.gm-row--flex.gl-row--flex
        each image in game.media.images
          li.gcm-quarter.gcl-2of10
            a(href="#{image}" target="_blank"): img(src="#{image}")
