extends ../_foundation/shell

block title
  title Games Home

block PageContent

  -
    moment.relativeTimeRounding(function (value) {
      return value;
    });

  section.wrapper
    aside.gm-row.gl-row
      div.gcm-8of9.gcl-10of12
        div.panel--thin
          form(id="search" action="http://localhost:3002/dashboard/games" method="GET")
            div.gm-row.gl-row
              div.gcl-2of5
                input(type="text" name="search" placeholder="Name" value="#{errors ? errors.searchTxt : ''}")
              div.gcl-1of5 Sort By:
                select
                  option(value="acending") a-z
                  option(value="decending") z-a
                  option(value="duration") game length
                  option(value="desc.playersNumMax") player #
              div.gcl-1of5 Filter By:
                select#filter
                  option(value="trevor") Trevor Pierce
                  option(value="id456") Josh Simons
                  option(value="id789") Jane Doe
      div.gcm-1of9.gcl-2of12.ptm
        a.btn--primary.btn--full-width(href="/dashboard/games/new") Add New Game

    div
      if errors
        p No games matching <strong>"#{errors.searchTxt}"</strong> found.
      else
        p= games.length + " Games Found"
        ul#game-list.gm-row--flex.gl-row--flex
          each game in games
            li.gcm-third.gcl-1of5.mbm
              a.game-card.unlink(href="/dashboard/games/#{ game.slug || game._id}")
                figure.card__figure
                  img(src="#{game.media.images[0]}", alt="#{game.name}")
                div.card__content
                  h3.card__title= game.name
                  ul.list--unstyled.mbn
                    li: span.pre-icon--clock= moment.duration(game.desc.duration, 'h').humanize()
                    li
                      span.pre-icon--alert
                      if game.desc.playerNumMin === game.desc.playerNumMax
                        = game.desc.playerNumMax + " players"
                      else
                        = game.desc.playerNumMin + " - " + game.desc.playerNumMax + " players"

  //- div.wrapper
  //-   div.gl-two-thirds.float--center
  //-     div.alert-panel--error.panel--thin
  //-       | Don't forget to remove these page objectives
  //-     div.panel--thin
  //-       h3 Page Features / Objectives
  //-       ol.mtm.gl-two-thirds
  //-         li User should be able to browse a list of games that are organized alphabeticaly
  //-         li Searchable by: Name, game length (in minutes)
  //-         li Sortable by: Name, game length, number of players, owner of game (allowing you to see every game a player owns)
  //-
  //-       h3 Game List Content
  //-       ul.mtm.gl-two-thirds
  //-         li Photo
  //-         li Name
  //-         li Number of players
  //-         li Estimated play time
