extends ../_foundation/shell

block title
  title A Single Game

block PageContent
  div.wrapper
    h1.primer-text Add a Game
    form(action="/dashboard/games/add" method="post")
      div.gm-row.gl-row
        div.gcm-half.gcl-half
          label.input-label
            | Name
            input(type="text" name="name" placeholder="Enter Game Name")
          label.input-label
            | Decorative URL
            input(type="text" name="slug" placeholder="the-big-book-of-madness")
          p.input-hint
          | Shows a nice url instead of the game id

          label.input-label
            | Description
            textarea(name="[desc][text]" cols="30" rows="10")

          label.input-label
            | Theme
            input(type="text" name="[desc][theme]")

          label.input-label
            | Duration (in hours)
            input(type="number" name="[desc][duration]" placeholder="E.g. 1.5")

        div.gcm-half.gcl-half
          label.input-label
            | Minimum # of Players
            input(type="number" name="[desc][playerNumMin]")

          label.input-label
            | Maximum # of Players
            input(type="number" name="[desc][playerNumMax]")

          label.input-label
            | Plays Best with # Players
            input(type="number" name="[desc][playerNumBest]")

          label.input-label
            | Owned by
            select(name="ownedBy")
              option(value="trevor") Trevor Pierce

          button.btn--primary(type="submit") Save Game
