extends ./../_foundation/shell
include ./mixins/event_card

block title
  title Events Home

block PageContent
  div#app

block PageFooter
  script(src="/build/js/events.bundle.js")

  //-
  //- //- Private Events
  //- section.panel
  //-   div.wrapper
  //-     h2.tertia-text.align--center.mtn Private
  //-     ol.list--unstyled.gm-row--flex.gl-row--flex.align--center
  //-
  //-       each event in events
  //-         if event.isPrivate
  //-           +event_card(event)
  //-
  //-
  //- //- Public Events
  //- section.wrapper.pal
  //-   h2.tertia-text.align--center.mtn Events
  //-   ol.list--unstyled.gm-row--flex.gl-row--flex.align--center
  //-
  //-     each event in events
  //-       if !event.isPrivate
  //-         +event_card(event)
  //-
  //- div.wrapper
  //-   div.gl-two-thirds.float--center
  //-     div.alert-panel--error.panel--thin
  //-       | Don't forget to remove these page objectives
  //-     div.panel--thin
  //-       h3 Page Features / Objectives
  //-       ol.mtm.gl-two-thirds
  //-         li Two lists for upcoming Public & Private events. Private events only show if the user has been invited to a private event.
  //-         li A form that allows the user to create an event.
  //-
  //-       h3 Event Content
  //-       p.mts In order of priority
  //-       ol.mtm.gl-two-thirds
  //-         li Date / Time
  //-         li Location
  //-         li Invited vs. Attending
  //-         li Name (optional)
  //-
  //-       h3 Event Functionality
  //-       ul.mtm.gl-two-thirds
  //-         li Inline Accept / Decline / RSVP
  //-         li Full event clickable and takes you to that event's permalink
