doctype html
html
head
  meta(charset="UTF-8")
  block title
    title Public Default Title
  block styles
    link(rel="stylesheet", href="/build/css/motif.css")
body

//- include ./../navigation/main_nav

block PageContent

block Footer
  script(src="/build/js/helpers.motif.js")
  script(src="/build/js/motif.js")
