extends ./_foundation/shell

block title
  title Login

block PageContent
  div.wrapper
    form.gm-third.gl-third.panel.float--center.align--center.pal(action="/login" method="POST")
      img.gm-half.gl-half(src="http://placehold.it/200")
      label.input-label.mvs
        input.pam.mvn(type="email" name="email" placeholder="john@gmail.com")
      label.input-label.mvs
        input.pam.mvn(type="password" name="password" placeholder="password")
      label.input-label.group
        input.float--left.mts(type="checkbox" name="remember" value="remember")
        span.float--left.mlm Remember Me
      
      button.btn--primary(type="submit") Login
    
    if error
      aside.gm-third.gl-third.alert-panel--error.float--center
        p.align--center= error.message
